body {
    font-family: sans-serif;
  }
  
  h1 {
    font-family: fantasy;
  }
  
  #container {
    margin: 5rem;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .catchphrase {
    font-size: 1.5rem;
    margin: 3rem 0;
    text-align: center;
  }

  #button-clicker {
    border: none;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(76, 76, 193);
    border-radius: 5px;
    color: white;
  }

  #total {
    font-size: 1.5rem;
    background-color: rgb(138, 70, 202);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }